*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

$mainBlack: #222;
$mainGreen: #82b340;
$mainWhite: #fff;
$mainGrey: #ececec;
$mainLightBlue: #49adf5;
$mainTransition: all 0.3s linear;


body {
  font-family: 'Open Sans', sans-serif;
  background: $mainWhite;
  color: $mainBlack
}